@let pqrData = pqr();

<form class="reply_box" [formGroup]="replyForm">
  <label for="reply">Responder a {{ pqrData.client.name }}</label>
  <textarea
    id="reply"
    formControlName="description"
    placeholder="Escribe una respuesta..."
  ></textarea>
  <div class="reply_footer" (click)="submit()">
    <button
      class="button button_primary"
      type="submit"
      [disabled]="!replyForm.valid || replyForm.controls.description.value.length <= 0"
    >
      Enviar respuesta
    </button>
  </div>
</form>
