.view_layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .main_content {
    background-color: #f4f9ff;
    padding: 72px 18px 18px 18px;
    flex: 1;
    display: flex;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }
}
