@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  overflow: hidden;
  height: 100%;
}

.app-snackbar-success .mdc-snackbar__surface {
  background-color: #15803d !important;
}

.app-snackbar-error .mdc-snackbar__surface {
  background-color: #b91c1c !important;
}

.app-snackbar-warning .mdc-snackbar__surface {
  background-color: #a16207 !important;
}

.app-snackbar-success .mdc-snackbar__label,
.app-snackbar-error .mdc-snackbar__label,
.app-snackbar-warning .mdc-snackbar__label,
.app-snackbar-success .mat-mdc-snack-bar-action,
.app-snackbar-error .mat-mdc-snack-bar-action,
.app-snackbar-warning .mat-mdc-snack-bar-action {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
